# importing dependencies

In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

reading the dataset into pandas dataframe

In [2]:
df=pd.read_csv("training.data.csv")

In [3]:
df.head()

,label,CLASS,TEXT,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,DESC,manner,HowdidserfdomdevelopinandthenleaveRussia?,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABBR,exp,Whatisthefullformof.com?,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HUM,ind,Whatcontemptiblescoundrelstolethecorkfrommylunch?,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,HUM,title,Whatistheoldestprofession?,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,DESC,def,Whatareliverenzymes?,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.drop(df.columns[[3, 4, 5,6,7,8,9,10,11,12,13,14,15,16,17]], axis = 1, inplace = True)

In [5]:
df.head()

  label   CLASS                                               TEXT
0  DESC  manner          HowdidserfdomdevelopinandthenleaveRussia?
1  ABBR     exp                           Whatisthefullformof.com?
2   HUM     ind  Whatcontemptiblescoundrelstolethecorkfrommylunch?
3   HUM   title                         Whatistheoldestprofession?
4  DESC     def                               Whatareliverenzymes?

In [6]:
df.tail()

      label     CLASS                              TEXT
11705  ENTY  currency  WhattypeofcurrencyisusedinChina?
11706   NUM      temp        Whatisthetemperaturetoday?
11707   NUM      temp   Whatisthetemperatureforcooking?
11708  ENTY  currency    WhatcurrencyisusedinAustralia?
11709   NaN       NaN                               NaN

the name of column describes what they contain

In [7]:
df.describe()

        label  CLASS                                  TEXT
count   11709  11709                                 11709
unique      6     47                                  4124
top      ENTY    ind  WhatisthespeedoftheMississippiRiver?
freq     2764   2058                                    15

In [8]:
df.drop([11709],axis=0,inplace=True)

how the questions are labelled (acc. to me) what is the type of answer to that specific question
1. DESC- in which we need to give description[ How did serfdom develop in and then leave Russia ] in this question we need to give whole description of how serfdom develp in and then leave russia
2. ABBR- in which the answer to give full form [What is the full form of .com] in this we need to give full form of .com
3. HUM - in this name or the name of community or of specific person is given as answer[What contemptible scoundrel stole the cork]
4. ENTY - some specific entry is answer like currency,name of country or river etc. [What type of currency is used in China]
5. NUM- interger or mathematical value is the answer [ What is the temperature today]

In [9]:
df.isnull().sum()

label    0
CLASS    0
TEXT     0
dtype: int64

In [10]:
#df.dropna ()

In [11]:
#df = df.reset_index(drop = True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11709 entries, 0 to 11708
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   11709 non-null  object
 1   CLASS   11709 non-null  object
 2   TEXT    11709 non-null  object
dtypes: object(3)
memory usage: 365.9+ KB

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11709 entries, 0 to 11708
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   11709 non-null  object
 1   CLASS   11709 non-null  object
 2   TEXT    11709 non-null  object
dtypes: object(3)
memory usage: 365.9+ KB

so,we have no null entries in our dataset,which is superb for us

In [14]:
#separating the data and labels
X=df['TEXT'].values

In [15]:
print(X)
#so,we don't have labels now

['HowdidserfdomdevelopinandthenleaveRussia?' 'Whatisthefullformof.com?'
 'Whatcontemptiblescoundrelstolethecorkfrommylunch?' ...
 'Whatisthetemperaturetoday?' 'Whatisthetemperatureforcooking?'
 'WhatcurrencyisusedinAustralia?']

In [16]:
Y=df[['label','CLASS']].values

In [17]:
print(Y)

[['DESC' 'manner']
 ['ABBR' 'exp']
 ['HUM' 'ind']
 ...
 ['NUM' 'temp']
 ['NUM' 'temp']
 ['ENTY' 'currency']]

# converting textual data to numerical data

In [18]:
vectorizer = TfidfVectorizer()
x =vectorizer.fit_transform(X)

In [19]:
print(x)

  (0, 540)	1.0
  (1, 267)	0.6544695475760977
  (1, 3574)	0.7560883620950251
  (2, 2679)	1.0
  (3, 3715)	1.0
  (4, 2317)	1.0
  (5, 378)	0.7071067811865475
  (5, 1350)	0.7071067811865475
  (6, 4541)	1.0
  (7, 5300)	1.0
  (8, 5221)	1.0
  (9, 5025)	1.0
  (10, 3323)	1.0
  (11, 1894)	0.7071067811865475
  (11, 4173)	0.7071067811865475
  (12, 842)	1.0
  (13, 3256)	1.0
  (14, 3519)	1.0
  (15, 2455)	1.0
  (16, 1994)	0.8921642124608429
  (16, 2226)	0.4517112108461821
  (17, 1592)	0.7071067811865475
  (17, 3736)	0.7071067811865475
  (18, 2202)	0.5831437611804862
  (18, 1280)	0.5726624871510853
  :	:
  (11690, 3130)	0.7220753650185889
  (11690, 1463)	0.6918144023025768
  (11691, 4164)	1.0
  (11692, 1767)	0.7071067811865476
  (11692, 3010)	0.7071067811865476
  (11693, 2997)	1.0
  (11694, 4033)	0.7413397025234695
  (11694, 1831)	0.6711299765786161
  (11695, 4474)	1.0
  (11696, 755)	1.0
  (11697, 3587)	1.0
  (11698, 5132)	1.0
  (11699, 2319)	1.0
  (11700, 3643)	0.7413397025234695
  (11700, 1082)	0.6711299765786161
  (11701, 4603)	1.0
  (11702, 1108)	1.0
  (11703, 5134)	1.0
  (11704, 1869)	0.6739797577978436
  (11704, 2017)	0.6739797577978436
  (11704, 2226)	0.3024939208604371
  (11705, 4265)	1.0
  (11706, 3805)	1.0
  (11707, 3804)	1.0
  (11708, 2757)	1.0

# splitting our dataset into training and text data

In [20]:
x_train, x_test, Y_train, Y_test=train_test_split(x,Y,test_size=0.2,stratify=Y,random_state=0)

# training the model

In [21]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.multioutput import MultiOutputClassifier

In [22]:
knn = KNeighborsClassifier(n_neighbors=3)

In [23]:
model = MultiOutputClassifier(knn, n_jobs=-1)

In [24]:
model.fit(x_train,Y_train)

MultiOutputClassifier(estimator=KNeighborsClassifier(n_neighbors=3), n_jobs=-1)

In [25]:
print(model.score(x_train, Y_train))

0.8977260595708337

In [39]:
print(model.score(x_test,Y_test))

0.7181895815542272

# EVALUATION OF OUR MODEL

accuracy score on the training data

In [27]:
#x_train_prediction=model.predict(x_train)

In [28]:
#print(model.score(x_train_prediction, Y_train))

In [29]:
#print("accuracy score of traing data:",training_data_accuracy)
#so,we  have got good model accuracy on testing data set

In [30]:
#x_test_prediction=model.predict(x_test)
#testing_data_accuracy=accuracy_score(x_test_prediction, Y_test)
#now,lets check our testing dataset accuracy

In [31]:
#from sklearn.metrics import roc_auc_score

In [32]:
#auc_y1 = roc_auc_score(Y_test[:,0],x_test_prediction[:,0])
#auc_y2 = roc_auc_score(Y_test[:,1],x_test_prediction[:,1])
 
#print("ROC AUC y1: %.4f, y2: %.4f" % (auc_y1, auc_y2))

In [33]:
#print("accuracy score of testing data:",testing_data_accuracy)

In [34]:
#so, we can see that our model is not overfitted and we have also got a good accuracy score

# make a predictive system

In [43]:
X_que = x_test[6]
#we will take any datapoint from our test data as our model hasn't seen our test dataset
prediction = model.predict(X_que)
print(prediction)

[['DESC' 'desc']]

In [44]:
print(Y_test[6])

['DESC' 'desc']

In [45]:
X_que = x_test[11]
prediction = model.predict(X_que)
print(prediction)

[['HUM' 'gr']]

In [46]:
print(Y_test[11])

['HUM' 'gr']

# so,our model has predicted the label of questions correctly